services:
  bot:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: spot_arb_p2p_bot
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - ./database:/app/database
